/* =============================================  common css for all pages  ========================================================================== */

/* patua one google font  */
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* Source Sans Pro   */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

:root {
    --patua: "Patua One";
    --greenTheme: #1ab293;
    --light_Green_bg: #1ab29338;
    --gray_color: #707070;
    --textWhiteColor: #fff;
    --onHoverTextColor: #000;
    --letterSpacing: 0.5px;
    --BoxShaow: 1px 1px 7px 0px #c0c0c0;
    --allcapitalLetter: uppercase;
    --textualHeading: 1rem; /* or write in h6 tag */
    --LastHeading: 1.25rem; /* or write in h5 tag */
    --SecondryHeading: 1.5rem; /* or write in h4 tag */
    --source_san:'Source Sans Pro', sans-serif;
    /* --white: #ffffff; */
}
* {
    color: #707070;
}
ul {
    list-style: none;
    padding-left: 3rem;
}
.secondryFontFamily{
    font-family: var(--source_san);
}
.box_shadow_with_padding {
    box-shadow: var(--BoxShaow);
    border-radius: 8px;
    padding: 1rem 1.5rem;
}
.box_shadow {
    box-shadow: var(--BoxShaow);
    border-radius: 8px;
}
.green_color {
    color: var(--greenTheme);
}
.gray_color {
    color: var(--gray_color);
}
.lightGreenBG{
    background-color: var(--light_Green_bg);
}
.green_bgcolor {
    background-color: var(--greenTheme);
}
.owl-nav {
    height: 0px;
}
.owl-dots {
    display: none;
}
.product_list {
    width: 95%;
    margin: auto;
}
.row {
    margin: auto 0px !important;
}
.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: none !important;
}
/* scroller of page  */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1ab293;
}
/* ============================================= ./ common css for all pages  ========================================================================== */
/* =============================================  headerpage  css for all pages  ========================================================================== */

.menu1 {
    position: sticky;
    top: 0 !important;
    width: 100%;
    background-color: var(--textWhiteColor);
    z-index: 1000000 !important;
}

/* upperHeader green color header menu  */
.upperHeader {
    border-bottom-left-radius: 52px !important;
    background-color: var(--greenTheme);
    color: var(--textWhiteColor);
    letter-spacing: var(--letterSpacing);
}

.contactNumber:hover,
.contactEmail:hover,
.login:hover {
    color: var(--onHoverTextColor);
}

/* lower header menu  */

.menuList li a {
    color: #000;
    text-decoration: none;
}

.menuList li a:hover {
    color: var(--greenTheme);
}

/* ============================================= ./ header page css css for all pages  ========================================================================== */

/* =============================================  index page css  ========================================================================== */

.best_SellingofferCard {
    background-image: url(../images/banners/carrot_offer.jpg);
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 8px;
    filter: brightness(0.8);
}
.owl-carousel button .prev-slide {
    position: absolute;
    top: -14%;
    background: white;
    right: 11%;
    height: 25px;
}
.owl-carousel button .next-slide {
    position: absolute;
    top: -14%;
    background: white;
    right: 0%;
    height: 25px;
}
.appstore {
    padding: 0.25rem 1rem;
    /* border: 1px solid #dee2e6 !important; */
    border-radius: 10rem;
    cursor: pointer;
}

/* ============================================= ./ index page css  ========================================================================== */

* {
    font-family: var(--patua);
    box-sizing: border-box;
}

/* shadow css  */
.shadow {
    box-shadow: var(--BoxShaow);
}

/* index.html  */
.bodyContainer {
    height: calc(100vh - 80px);
    overflow: hidden;
}

/* main carousel   */

.s1i1 {
    top: 0;
    left: 0;
}

.s1i2 {
    top: 0%;
    right: 0;
}

.s1i3 {
    top: 75px;
    width: 52%;
    right: 2%;
}

.s1i4 {
    width: 29%;
    left: 17.5%;
    top: 124px;
    transition-duration: 5s;
}
/* first categry product causel  */
.categryName:hover {
    color: var(--onHoverTextColor);
}
.categryName {
    color: var(--greenTheme);
}

.prenavigate,
.postnavigate {
    border: 1px solid;
    padding: 0px 11px !important;
    border-radius: 3px;
    color: #1ab293;
    background: transparent;
    /* font-weight: 400; */
    line-height: 32px;
    margin-bottom: 0px !important;
    /* padding-bottom: 4px !important; */
}
.prenavigate:focus-visible,
.postnavigate:focus-visible {
    border: 2px solid var(--greenTheme);
    outline: none !important;
}

.owl-carousel button .next-slide:hover,
.owl-carousel button .prev-slide:hover {
    background-color: var(--greenTheme);
    color: var(--textWhiteColor);
    border: var(--onHoverTextColor);
}

.productHeading,
.productdiscrib {
    font-family: var(--patua);
}
/* LatestProduct */
/* .nav-item .nav-link.show.active{
    border-top:3px solid var(--greenTheme);
    border: 1px transparent;
    color: var(--greenTheme);
} */
.nav-link {
    color: #1ab293;
    border: 1px solid transparent !important;
}
.nav-link:hover {
    color: #000;
    border: 1px solid transparent !important;
}
.product_view {
    background: #1ab293;
    height: 215px;
    width: 215px;
    transition: 1s;
}
.product_view:hover {
    width: 400px;
    border-radius: 10px !important;
    position: relative;
    padding: auto 0px;
}
.product_view:hover #product_view_img {
    width: 160px !important;
    position: absolute;
    right: 0ch;
    top: 6%;
    /* height: 200px ;    */
}
.product_price {
    visibility: hidden;
}
.product_view:hover .product_price {
    visibility: visible;
    transition-delay: 300ms;
    transition: 1s;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.add_to_card_btn {
    bottom: 10%;
    left: 18%;
}
.product_name {
    top: 9%;
    left: 17%;
}

/* ========================================================================= vegetables and fruits page css =========================================  */
.vegetablesPageBanner {
    background: url(../images/banners/vegetablesPageBanner.jpg);
    background-position: center;
    background-size: cover;
}
.FruitsPageBanner{
    background: url(../images/banners/fruitsPage.jpg);
    background-position: center;
    background-size: cover;
}

.HerbsPageBanner{
    background: url(../images/banners/hearbsPageBanner.jpg);
    background-position: center;
    background-size: cover;
}
/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */

.vegetablesBannerOffer {
    z-index: 1;
    left: 13.5%;
    filter: drop-shadow(2px 4px 6px black);
    top: 30%;
}
.vegetablesbannerBGBlur {
    width: 450px;
    background: #6563639e;
    height: 224px;
    filter: blur(5px);
    z-index: 1;
    left: 13%;
    border-radius: 12px;
    top: 25%;
}
.FruitsBannerOffer {
    z-index: 1;
    right: 13.5%;
    filter: drop-shadow(2px 4px 6px black);
    top: 30%;
}
.FruitsbannerBGBlur {
    width: 450px;
    background: #6563639e;
    height: 224px;
    filter: blur(5px);
    z-index: 1;
    right: 13%;
    border-radius: 12px;
    top: 25%;
}

/* ========================================================================= ./ vegetables   and fruits page css =========================================  */
/* ========================================================================= footer page css =========================================  */
.footer {
    background-image: url(../images/banners/footerImage1.jpg);
    background-size: cover;
    background-position: center;
}
.footer li {
    color: whitesmoke;
}
.footer li::before {
    content: "\00BB";
    padding-right: 10px;
    color: whitesmoke;
    font-size: 18px;
}
.footer li:hover {
    color: var(--greenTheme);
}
.social_icons {
    background: var(--textWhiteColor);
    font-size: large;
    border: 1px solid var(--greenTheme);
    color: var(--greenTheme);
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    border-radius: 0.3rem;
}
.social_icons:hover {
    color: var(--textWhiteColor);
    background: var(--greenTheme);
    border: 1px solid var(--textWhiteColor);
}
.footer a:hover {
    text-decoration: none;
}

/* ========================================================================= ./ footer page css =========================================  */
